In [1]:
import selenium 
import pandas as pd
from selenium import webdriver

Q -1 Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
#the web element of the search block
search_job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
search_job

In [5]:
# entering data analyst in  search 
search_job.send_keys("Data Analyst")

In [6]:
#the web element of the location block
search_location=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_location

In [7]:
# entering bangalore in  search 
search_location.send_keys("Bangalore")

In [8]:
#web element of search 
search=driver.find_element_by_xpath("//div[@class='search-btn']")
search

In [9]:
#to click on search 
search.click()

In [10]:
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="5077ec3d-558d-48ec-bf90-2f5367bd78f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="0d7fbc53-46eb-443e-b9e6-cf75833547ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="0fe4fb2a-218f-45f3-a56f-60207897b80c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="ab625a83-e0bc-4a54-996d-f54b6790cc1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="34a373ca-d328-4e57-89d9-9a88f9939224")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="336871a9-d2b8-4b2f-9cdd-364d72b182a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="550ae6fa-db3c-495e-88ff-988fae3c1f24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="0b918334-64a9-4516-a048-e7f4f1093a37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="377e4c35-d373-4891-885d-216b22929788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="ce7f70c0-924d-48ab-bd28-4a4ff7c806b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="03e2fbf9-7757-470c-aa78-d5eb2b27c3d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="e2c632aa-8f05-47f0-b62a-c7aacfe73f1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="db98d029-0387-41e8-93d9-d2dee22dd661")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="ea5fc0f9-af7e-4227-ba6a-f6f10bd06038")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="d6ea0181-4021-41ff-9635-579f2c4eb268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="616da687-1f94-4a74-af53-140fb6187c2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="26455981-b119-4de3-9546-3e13eed96b78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="84df5375-e02c-434b-b565-17798ebfe426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="8aa4c4ca-fabe-4270-bf50-4b0e4a4cc39e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="8fc76faa-ae1c-486e-979a-db278b9021e4")>]

In [11]:
#scraping job title
Title=[]
for i in job_title:
    Title.append(i.text)
Title

['Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'Business Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Executive Data Analyst',
 'Data Analyst - I/II',
 'Data Analyst',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Senior Associate, Data Hierarchy Analyst( MDM)',
 'Business Data Analyst - MIS & Reporting',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - Python/SQL',
 'Data Analyst - EdTech',
 'Lead , Data Analyst',
 'Product Data Analyst',
 'Data Analyst/Sr.Analyst - Bangalore',
 'SENIOR MARKETING DATA ANALYST']

In [12]:
ex=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
ex

[<selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="27cb1669-48e2-4b8a-ac05-36a02fecf08e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="b7d67272-a334-4053-bbd8-75166ed0472f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="cf2f55d1-9450-47b3-b152-c3a49f9ec7ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="816d4bf2-18d9-4bd2-bf68-ba409420f9aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="f82d726b-bbce-4474-a484-822ec96d9fa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="b20d29c5-76c6-405f-9882-8cd07576837d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="6912d9eb-da3b-426e-9616-202773a76511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="ccc5b98a-9e6b-435e-8137-01af1008aa11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="136d92c5-e123-467e-b8ec-132e9b5a075d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="8449be86-4b05-449b-a458-883dba2a787e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="59275c07-74e9-4b35-a425-dfcab9c8bb78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="178739a8-bc74-41d6-a1ee-241cf68599c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="9ec5c4de-7438-4e5c-896f-4756906291c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="91704021-0a96-44fb-943f-e1b34949b6cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="fdf6b204-098f-4702-adc2-45ada0d97095")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="b3694af8-ad22-4bfc-8c45-3f4448a8e410")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="bd6276be-1c11-4092-9ad5-359c210e6861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="61dba841-d250-49a1-bb0e-468f00832bd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="40659a8b-f7a6-4ee4-9e1b-f93a2b6b6e17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="5cf31119-75ab-4adb-a3aa-7fe0827cbd5e")>]

In [13]:
#scraping experience for each job title 
Experience =[]
for i in ex:
    Experience.append(i.text)
Experience

['4-8 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '0-3 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '2-3 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '2-6 Yrs',
 '6-11 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-7 Yrs']

In [14]:
com=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com

[<selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="80b4e556-a501-4b8c-a35e-71a1f415f614")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="3b88e241-a7c3-45a1-9e96-0dcce9d09eb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="689e505f-5d2e-4157-873d-1c2f77ab4fa6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="1eae5fab-3d6c-45f1-b722-6da380cef437")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="a04e017b-6a58-44ae-987e-8a47448166d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="206aee8b-b249-4bea-b12e-36c1f04885db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="b250b55d-e2ff-4829-8554-5296dd5c59f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="e6c2b077-fca5-4c69-8bed-72458c23aa47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="890e8b19-fd89-492c-8716-f85b7c1f52a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="31d1985b-e340-4b4a-8174-6600e7724c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="c7246ec9-d483-4abf-b6fb-14e80bc9880f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="64a55a12-850c-4ec0-abcf-c5a51d5060a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="2635cfb9-e3cb-4f50-b680-20d9a7020f32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="ba0563f9-374b-49da-b30d-76e728126570")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="62726b65-bd2f-4df1-a407-1d9c07d2404e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="0ad28fb0-d749-428a-af83-07ce98a0bfb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="d57ef309-6fba-4740-9fa1-afa3ca6b4195")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="68bcd219-3c92-4871-993c-b59e46d301ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="c6b3899d-c8dc-4900-b356-4ddbc05b0f55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="244afa5bb2edf248e68570a56f8b1658", element="8ffdef21-74c4-41c9-9537-c3fd17ed1618")>]

In [15]:
#scraping company name 
Company=[]
for i in com:
    Company.append(i.text)
Company

['GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Trigent Software',
 'Trigent Software',
 'AVE-Promagne',
 'Gokaldas Exports Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'GENPACT India Private Limited',
 'INTERTRUST GROUP',
 'Flipkart',
 'Flipkart',
 'Affine',
 'TalentStack',
 'Near Pte. Ltd.',
 'Trifacta',
 'Cocentrus',
 'McAfee Software (India) Pvt. Ltd']

In [16]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
Location=[]
for i in location:
    Location.append(i.text)
Location

['Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru(Bellandur)\n(WFH during Covid)',
 'Bangalore/Bengaluru(Bellandur)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [17]:
#extracting urls from each job listed 
job_url=[]
for i in job_title:
    job_url.append(i.get_attribute("href"))
job_url

['https://www.naukri.com/job-listings-senior-data-analyst-idam-services-glaxosmithkline-pharmaceuticals-limited-bangalore-bengaluru-4-to-8-years-080921501391?src=jobsearchDesk&sid=16311353550739777&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-analyst-sr-data-engineer-syren-technologies-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-4-to-9-years-080921005341?src=jobsearchDesk&sid=16311353550739777&xp=2&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-trigent-software-private-limited-bangalore-bengaluru-5-to-10-years-080921602383?src=jobsearchDesk&sid=16311353550739777&xp=3&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-trigent-software-private-limited-bangalore-bengaluru-5-to-10-years-080921002381?src=jobsearchDesk&sid=16311353550739777&xp=4&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-google-data-studio-sql-ave-promagne-bangalore-bengaluru-3-to-8-years-070921902812?src=jobsearchDesk&sid=16311353550739777&xp=5&px=1',
 'https://www.naukri.com/job-listings-executive-data-analyst-gokaldas-exports-ltd-bangalore-bengaluru-0-to-3-years-030921004749?src=jobsearchDesk&sid=16311353550739777&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analyst-i-ii-philips-india-limited-bangalore-bengaluru-3-to-6-years-060921501992?src=jobsearchDesk&sid=16311353550739777&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-analyst-ibm-india-pvt-limited-bengaluru-bangalore-1-to-4-years-070921901682?src=jobsearchDesk&sid=16311353550739777&xp=8&px=1',
 'https://www.naukri.com/job-listings-hiring-for-the-role-data-analyst-flipkart-allegis-services-india-pvt-ltd-bangalore-bengaluru-1-to-6-years-060921609724?src=jobsearchDesk&sid=16311353550739777&xp=9&px=1',
 'https://www.naukri.com/job-listings-hiring-for-the-role-data-analyst-flipkart-allegis-services-india-pvt-ltd-bangalore-bengaluru-1-to-6-years-060921009722?src=jobsearchDesk&sid=16311353550739777&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-associate-data-hierarchy-analyst-mdm-genpact-india-private-limited-bangalore-bengaluru-1-to-3-years-180821005554?src=jobsearchDesk&sid=16311353550739777&xp=11&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-mis-reporting-intertrust-group-mumbai-bangalore-bengaluru-3-to-8-years-270121001879?src=jobsearchDesk&sid=16311353550739777&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-flipkart-bangalore-bengaluru-2-to-3-years-010921906563?src=jobsearchDesk&sid=16311353550739777&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-flipkart-bangalore-bengaluru-3-to-8-years-010921905921?src=jobsearchDesk&sid=16311353550739777&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-analyst-python-sql-affine-bangalore-bengaluru-3-to-5-years-080921903676?src=jobsearchDesk&sid=16311353550739777&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-analyst-edtech-talentstack-bangalore-bengaluru-2-to-6-years-080921904427?src=jobsearchDesk&sid=16311353550739777&xp=16&px=1',
 'https://www.naukri.com/job-listings-lead-data-analyst-near-pte-ltd-bangalore-bengaluru-6-to-11-years-070921500160?src=jobsearchDesk&sid=16311353550739777&xp=17&px=1',
 'https://www.naukri.com/job-listings-product-data-analyst-trifacta-bangalore-bengaluru-2-to-5-years-060921501663?src=jobsearchDesk&sid=16311353550739777&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-analyst-sr-analyst-bangalore-cocentrus-bangalore-bengaluru-5-to-10-years-060921905500?src=jobsearchDesk&sid=16311353550739777&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-marketing-data-analyst-mcafee-software-india-pvt-ltd-bangalore-bengaluru-3-to-7-years-010921500299?src=jobsearchDesk&sid=16311353550739777&xp=20&px=1']

In [18]:
#extracting the full job description from each of the urls 
desc=[]
for i in job_url:
    driver.get(i)
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        desc.append(job_desc.text)
    except:
        desc.append("--")
desc

['Job description\n  Identity and Access Management is a function within the Tech Ops group that globally manages directories, accounts, access, passwords, federation and sign-on functions. It provides a secure foundation, with standard process and tools to ensure access to GSK information and systems is protected.\nTo work with designated TECH groups to identify opportunities to improve internal performance by optimizing processes, facilitating change and exploiting information technology to meet Identity Access Management (IAM) objectives. To provide business consulting and analysis expertise in the development of TECH strategies.\nTo perform business analysis activities to define IAM needs, develop the benefits case for change or process improvement projects, define requirements, develop project charters and ensure benefit is delivered. To take an active role in the management of data in IDAM systems to facilitate its use by the business.\nThis role will provide YOU the opportunity to lead key activities to progress YOUR career. These responsibilities include some of the following:\nAssist with the development of TECH strategies for IAM. Perform analysis during design, development and implementation of change and process redesign, working with Project Managers, Act both as a technical Lead and/or architect to ensure that requirements are met and benefits realised for TECH projects.\nRepresent TECH on management teams, cross-functional teams, and committees. Use analytical techniques and tools to improve IAM performance or solve problems by optimizing processes, facilitating change, improving compliance with existing processes, and applying information technologies.\nFacilitate communications between Business Partners and TECH. Identify interdependency of changes in IAM processes and TECH systems. Partner with TECH colleagues to optimize the IAM TECH product portfolio\nTechnical support for the new/other team members - share knowledge, best practices, procedures and processes\nContribute towards the management of TECH aspects of business initiatives (such as audits, MAADs, TSR Security Response etc.) and assist IDAM in managing changes\nOwn the technical BI architecture strategy that will increase customer value and adoption of well-architected cloud solutions across Hosting.\nIn partnership with 3rd party tech suppliers formulate and execute delivery of a customer-focused BI architecture.\nStrong experience in Power BI, ServiceNow, SQL, Azure ADF, IDAM process,\nReview project team architectural designs to ensure consistency alignment with defined target architecture and adherence to established standards\nProvide BI solution designs to meet business requirements; collaborating with Tech Enterprise Architecture (EA) for approval to ensure alignment to best practices and architectural principles and practices.\nDevelop ETL/ELT processes, data lakes, data warehouse databases, cubes, reports, dashboards, in-line with reporting strategy and architecture. Assist in developing standards for data lakes, data ingestion, data access layers and BI solutions as key components of the BI architecture. Building Single Source of Truth Data lakes using Azure ADF, Rest API and build the BI solutions on top of it.\nDesign models and databases both relational and dimensional and analytics cubes to support reporting requirements. Guide and prioritise the development of BI whitepapers, data sheets, and other high-value customer facing guidance and best practices.\nDevelop and maintain understanding of:\n- Knowledge of IDAM processes, systems and objectives;\n- Industry-wide practices and trends in TECH solutions for IAM;\n-Mainstream development methodologies, analysis techniques, target policy guidelines and standards\nRoleSenior Outside Consultant\nIndustry TypePharmaceutical & Life Sciences\nFunctional AreaStrategy, Management Consulting, Corporate Planning\nEmployment TypeFull Time, Permanent\nRole CategoryCorporate Planning/Consulting/Strategy\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nProcurementBusiness analysisAccess managementActive directoryAgileHealthcareInformation technologyTechnical supportAnalyticsSQL',
 'Job description\nResponsibilities:\nProvide innovative analytical insights within the Data\nConduct detailed data analysis on data used across business units to evaluate business processes and improve on/create new feature\nRespond to data and product related inquiries in real-time to support business and technical teams\nPerform various data analytics in SQL and MS Excel using statistical models or industry accepted tools\nProvide relational database expertise to construct and execute SQL queries to be used in data analysis activities\nProvide data solutions, tools, and capabilities to enable self-service frameworks for data consumers\nProvide expertise and translate the business needs to design; and develop tools, techniques, and metrics, and dashboards for insights and data visualization\nResponsible for developing and executing tools to monitor and report on data quality\nResponsible for establishing appreciation and adherence to the principles of data quality management, including metadata, lineage, and business definitions\n\nRequirements.\nDegree in computer science or equivalent preferred.\nMust have 5-8 years of total IT experience on Microsoft Power BI, SQL Server, SSIS, SSRS, SSAS.\nDebugging and Troubleshooting SSIS Packages.\nImplemented Error Handling/ debugging the packages with Data Viewers, break points, Event Handlers and Configure Error Output.\nStrong Knowledge in SQL Server BI suite (SSIS, SSAS, SSRS Reporting, Analytics, and Dashboards).\nStrong Knowledge in ETL Design, Development, Implementation and Support using SQL Database, data warehousing environments.\nExperience in creating T-SQL Procedures, Functions and Indexes based on business requirements.\nExpert in Data Extraction, Transforming and Loading (ETL) using SSIS.\nDesigning and developing the SSIS Packages.\nExperience Developing visual reports, dashboards and cards using Power BI desktop.\nExperience in Connecting to data sources, importing data, and transforming data for Business Intelligence.\n\nPerks and Benefits\n\nAn Opportunity to work with fortune 50 clients\nSalary best in the industry + Performance Bonus.\n\nImmediate joiners will be given more priority less than 30 days notice\nRoleDatabase Architect/Designer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nKey Skills\nBusiness IntelligenceMicrosoft Power BiBiData ModelingData AnalyticsETL ToolSSISSQL',
 'Job description\nDear Candidates\n\nWe have a Immediate requirement of Business Data Analyst for one of our Client at Bangalore Location.\n\nSummary\nLocation: Bangalore\nExperience: 5+  years experience level is required.\nPosition:  Business Data Analyst\nImmediate joiners preferred within 15 days joiners acceptable.\n\nJD for Business Data Analyst:\n\nJob Summary\n\nDevelop, maintain, and take ownership of key Business Metrics and Dashboards by engaging with stakeholders.\nAutomate existing Reports and Dashboards using Power Automate, Power Query, VBA and Develop data models using Visual Studio.\nPerform ETL/ELT operations and write automation/job scripts using Python/Shell.\nConfigure and manage data sources- Oracle, MS SQL Server, MySQL.\nDevelop and deploy cloud data models on Azure/AWS/Google Cloud\nCreate Continuous Integration and Deployment pipelines of reports and Dashboards\nSupport and work alongside a cross-functional team on the latest technologies\n\nJob Requirements\n\nHands-on experience with Tableau Development\nData Cleaning, Massaging, Writing Complex calculations\n\n-DB tools: Oracle, MS SQL server\n\n-R and/or Python with be an advantage.\n\n-Experience in Power BI would be a plus.\n\nExperience with open-source technologies and cloud services like Azure Analysis Services.\nExperience in Machine Learning is a plus\nCommand over advanced MS Excel, DAX Formulas, Power Point\nExcellent critical thinking skills with Strong attention to details\nSelf starter and Self Propelled who can work with minimum management instruction\nExcellent Business analysis and analytical skills\nTeam player with ability to engage with multiple stakeholders in different time-zones\nExcellent communication skills\nExperience with engaging with Senior Management\nSCM/Operations domain knowledge as well as experience with Tools like Anaplan would be an added advantage\n\nEducation\n\nBachelors Degree or Masters in Computer Science, Engineering, Data Science, or a relevant field.\n\nTotal relevant experience: 5 Plus years\n\nRegards\nNaveen Kumar N\nMail id: naveen_k@trigent.com\nContact no: 9108228912 (Call between 9:30 Am to 6:30 Pm on Weekdays only)\nRoleBusiness Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategorySystem Design/Implementation/ERP/CRM\nEducation\nUG :Any Graduate\nKey Skills\nDAX Formulascloud servicespythonMS ExcelBusiness Data AnalystPower Pointopen-source technologiesTableauELTMachine LearningTableau DevelopmentMassagingAzure AnalysisData Analysisshell scriptingData CleaningOracleETLMS SQL server',
 'Job description\nDear Candidates\n\nWe have a Immediate requirement of Business Data Analyst for one of our Client at Bangalore Location.\n\nSummary\nLocation: Bangalore\nExperience: 5+  years experience level is required.\nPosition:  Business Data Analyst\nImmediate joiners preferred within 15 days joiners acceptable.\n\nJD for Business Data Analyst:\n\nJob Summary\n\nDevelop, maintain, and take ownership of key Business Metrics and Dashboards by engaging with stakeholders.\nAutomate existing Reports and Dashboards using Power Automate, Power Query, VBA and Develop data models using Visual Studio.\nPerform ETL/ELT operations and write automation/job scripts using Python/Shell.\nConfigure and manage data sources- Oracle, MS SQL Server, MySQL.\nDevelop and deploy cloud data models on Azure/AWS/Google Cloud\nCreate Continuous Integration and Deployment pipelines of reports and Dashboards\nSupport and work alongside a cross-functional team on the latest technologies\n\nJob Requirements\n\nHands-on experience with Tableau Development\nData Cleaning, Massaging, Writing Complex calculations\n\n-DB tools: Oracle, MS SQL server\n\n-R and/or Python with be an advantage.\n\n-Experience in Power BI would be a plus.\n\nExperience with open-source technologies and cloud services like Azure Analysis Services.\nExperience in Machine Learning is a plus\nCommand over advanced MS Excel, DAX Formulas, Power Point\nExcellent critical thinking skills with Strong attention to details\nSelf starter and Self Propelled who can work with minimum management instruction\nExcellent Business analysis and analytical skills\nTeam player with ability to engage with multiple stakeholders in different time-zones\nExcellent communication skills\nExperience with engaging with Senior Management\nSCM/Operations domain knowledge as well as experience with Tools like Anaplan would be an added advantage\n\nEducation\n\nBachelors Degree or Masters in Computer Science, Engineering, Data Science, or a relevant field.\n\nTotal relevant experience: 5 Plus years\n\nRegards\nNaveen Kumar N\nMail id: naveen_k@trigent.com\nContact no: 9108228912 (Call between 9:30 Am to 6:30 Pm on Weekdays only)\nRoleBusiness Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategorySystem Design/Implementation/ERP/CRM\nEducation\nUG :Any Graduate\nKey Skills\nDAX Formulascloud servicespythonMS ExcelBusiness Data AnalystPower Pointopen-source technologiesTableauELTMachine LearningTableau DevelopmentMassagingAzure AnalysisData Analysisshell scriptingData CleaningOracleETLMS SQL server',
 'Job description\nYour responsibilities will include but not limited to:\n\nBuilding interactive dashboards and visualizations on Tableau and/or Google Data Studio platform\nProviding data analysis, reporting, and data support to internal and external stakeholders to drive business process improvements and achieve top-line objectives\nInterpreting business requirements and translating them into analytical objectives\nPerforming root cause analysis on business problems while providing recommendations in a timely manner\nInstilling a company wide-culture of data-first decision making and driving continuous data quality best practices\nTHE QUALIFICATIONS\n\nBachelor’s degree in Analytics, Engineering, Statistics, Management Science, Applied Mathematics, or related field, with Master’s degree preferred\n3+ years of experience in a high-paced, tech-first company, with financial services experience preferred\nDemonstrable experience using data visualization tools such as Tableau or Google Data Studio\nUnderstanding of how relational databases work, how objects are linked with each other, different types of joins, and how to use them for reporting\nFamiliarity using complex nested condition loops (using functions such as If, Where, Case, etc) and using logical operators (such as AND, OR, NOT, etc)\nStrong ability to understand how to use data to support and enhance business processes\nAbility to work with large relational datasets and derive insights from the same\nPrior work experience or coursework on Salesforce CRM is a plus\nExcellent verbal and written communication, presentation and facilitation skills with the ability to express complex concepts in plain language to reach broader audiences\nRoleData Analyst\nIndustry TypeBanking\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.A in Statistics, B.Tech/B.E. in Any Specialization, B.Sc in Statistics\nPG :Any Postgraduate\nDoctorate :Doctorate Not Required\nKey Skills\nGoogle Data StudioData SupportData AnalysisData AnalystTableauAnalyticsSQL',
 'Job description\nRoles and Responsibilities\n\nDevelop and maintain various analytics reports and dashboards to provide actionable insights that support data-driven decision-making for the leadership teams.\nTo drive process improvement and recommend all aspects of Manufacturing workflow, reporting, data integrity, and maintenance.\nTo track cost through Management Information System, the targeted cost vs actual cost for departments like Marketing, Production, and assist the president in conducting monthly quarterly, & annual reviews with effective and efficient use of MIS.\nTo engage and work with aligned operations teams and lines of business to more effectively achieve data needs and analysis results.\nLooking for candidates with B.tech Textile background, interested candidates can drop the CV to roopa.bk@gokaldasexports.com/rose.thomas@gokaldasexports.com\nRoleExecutive Data Analyst\nIndustry TypeImport & Export\nFunctional AreaExport, Import, Merchandising\nEmployment TypeFull Time, Permanent\nRole CategoryNot mentioned\nEducation\nUG :B.Tech/B.E. in Textile\nPG :M.Tech in Production/Industrial, Textile\nKey Skills\nExcelExport HouseData ManagementData AnalysisDashboardsMerchandisingManufacturing Process',
 'Job description\nJob Responsibilities\nManaging and ensuring data quality, integrity, normalization and accuracy of available datasets. Improve data quality as per data quality framework and working with data owner. Internal and external benchmarking to establish things influencing data quality.\nManaging and designing the reporting environment, including data sources, security, and metadata. Generate business insights using BI dashboards that shall provide clear directions/actions to senior managers to support decision-making.\nSupport digitization to improve quality of data. Root cause analysis by using quality analysis tools, machine learning and statistics.\nHelping organization to take key decisions based on integrated analytics involving different datasets. Perform predictive data analysis, generate indications for focus area and target the improvements proactively.\nMaintain and re-engineer existing ETLs to increase data accuracy, data stability, and pipeline performance.\nAdvanced statistical techniques for complex data analysis. Interpreting data, analysing results using statistical techniques, developing analytical reports.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nSufficient business acumen to understand business objectives dynamics\nAs a data analyst, you will work with data from a wide range of sources. You will be taking responsibility for exploring the data, recommending actionable insights, building visualizations/dashboard to provide information that matters to business. This will involve automating data quality checks, data extraction and pre-processing. You will be the person who turns data into information, information into insights and insights into business decisions. You should also have a very fine eye for detail and deep understanding of the popular data analysis tools and databases. As data analyst you will create compelling reports using database-stored procedures and triggers. As the analytics team is chartered to be the one stop shop for all data needs, you will play an integral role in analytics team for the holistic growth of the businesses.\nJob Qualifications:\nBachelor s or masters degree in Computer Science, Information management, Statistics or related field\n5+ years of experience in the Consumer or Healthcare industry in an analytical role with focus on querying data, analyzing and clearly presenting analyses to stakeholders across the organization.\nWorking experience on Python, R Programming, Scala, Apache Spark, AWS Redshift is must.\nMandatory working experience in QlikView, Adobe analytics, Google 360. Knowledge in analytics tools like Tableau, Power BI, Excel VBA Macros, RSPSS, SAS is an added advantage.\nProven working experience as a data analyst or business data analyst. Experience in working on Business intelligence tools/platforms and systems.\nStrong knowledge in data pre-processing and EDA by using various tools. Thorough in analytics/visualization tool setup, configuration and administration.\nHaving knowledge of classification (Random Forest, SVM, Boosting and Bagging techniques) and clustering algorithms is desirable\nHands on in Descriptive / Predictive / Prescriptive Analytical techniques. Ability to collect, organize, analyze, and disseminate significant amounts of information with attention to detail and accuracy\nResults driven with analytical and numeric skills. Convey data story through the visualization.\nA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast-paced agile environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organisation.\nRoleDatabase Architect/Designer\nIndustry TypeMedical Services / Hospital\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nData analysisSASAnalyticalHealthcareData qualityInformation managementBusiness intelligenceMacrosAnalyticsData extraction',
 '--',

In [19]:
#Making a Dataframe
data=list(zip(Title,Company,Experience,Location,desc))
job=pd.DataFrame(data=data,columns=["Job_title","Company","Experience_required","Location","Job_description"])
job=job[0:10]
job

,Job_title,Company,Experience_required,Location,Job_description
0,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Bangalore/Bengaluru,Job description\n Identity and Access Managem...
1,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Job description\nResponsibilities:\nProvide in...
2,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru,Job description\nDear Candidates\n\nWe have a ...
3,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru,Job description\nDear Candidates\n\nWe have a ...
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Bangalore/Bengaluru,Job description\nYour responsibilities will in...
5,Executive Data Analyst,Gokaldas Exports Ltd,0-3 Yrs,Bangalore/Bengaluru,Job description\nRoles and Responsibilities\n\...
6,Data Analyst - I/II,Philips India Limited,3-6 Yrs,Bangalore/Bengaluru,Job description\nJob Responsibilities\nManagin...
7,Data Analyst,IBM India Pvt. Limited,1-4 Yrs,Bengaluru/Bangalore,--
8,Hiring For the role - DATA Analyst (Flipkart),Allegis Services India Pvt. Ltd.,1-6 Yrs,Bangalore/Bengaluru(Bellandur)\n(WFH during Co...,Job description\nRoles and Responsibilities\nD...
9,Hiring For the role - DATA Analyst (Flipkart),Allegis Services India Pvt. Ltd.,1-6 Yrs,Bangalore/Bengaluru(Bellandur)\n(WFH during Co...,--

Q -2 Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [20]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.naukri.com/")

In [21]:
search_skill=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
search_skill

In [22]:
#searching for data Scientist 
search_skill.send_keys("Data Scientist")

In [23]:
#searching for bangalore
s_l=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
s_l.send_keys("Bangalore")

In [24]:
s=driver.find_element_by_xpath("//div[@class='search-btn']")
s.click()

In [25]:
#scraping job title
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
T=[]
for i in title:
    T.append(i.text)
T

['Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Data Scientist (Python & SQL)',
 'Hiring For Data Scientist / Statistical Analyst',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Freelance Data Scientist Project Based',
 'Data Scientist',
 'Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - ML',
 'Data Scientist',
 'Data Scientist',
 'Cognitive Data Scientist']

In [26]:
#scraping Company name 
c=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Com=[]
for i in c:
    Com.append(i.text)
Com

['IBM India Pvt. Limited',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Airbnb',
 'Happiest Minds Technologies Pvt.Ltd',
 'AVE-Promagne',
 'ManpowerGroup Services India Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Wrackle Technologies Pvt Ltd',
 'Shikvix',
 'NeenOpal Intelligent Solutions Private Limited',
 'PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED',
 'CRISIL LIMITED',
 'ELPIS IT SOLUTIONS PVT LTD',
 'ELPIS IT SOLUTIONS PVT LTD',
 'SP Staffing Services Private Limited',
 'Oracle India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited']

In [27]:
#scraping location 
l=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
L=[]
for i in l:
    L.append(i.text)
L

['Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore']

In [28]:
#scraping experience 
e=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
EX=[]
for i in e:
    EX.append(i.text)
EX

['5-9 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '7-12 Yrs',
 '5-10 Yrs',
 '6-8 Yrs',
 '2-4 Yrs',
 '6-8 Yrs',
 '6-8 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '10-15 Yrs',
 '5-9 Yrs',
 '2-4 Yrs',
 '3-7 Yrs']

In [29]:
url=[]
for i in title:
    url.append(i.get_attribute("href"))
url

['https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=1631135544569272&xp=1&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=1631135544569272&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=1631135544569272&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-airbnb-bangalore-bengaluru-7-to-12-years-080921500017?src=jobsearchDesk&sid=1631135544569272&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=1631135544569272&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=1631135544569272&xp=6&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-statistical-analyst-manpowergroup-services-india-private-limited-bangalore-bengaluru-2-to-4-years-080921011029?src=jobsearchDesk&sid=1631135544569272&xp=7&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=1631135544569272&xp=8&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=1631135544569272&xp=9&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=1631135544569272&xp=10&px=1',
 'https://www.naukri.com/job-listings-freelance-data-scientist-project-based-shikvix-bangalore-bengaluru-3-to-8-years-060921008814?src=jobsearchDesk&sid=1631135544569272&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-neenopal-intelligent-solutions-private-limited-bangalore-bengaluru-2-to-5-years-080921006998?src=jobsearchDesk&sid=1631135544569272&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-prescience-decision-solutions-private-limited-bangalore-bengaluru-5-to-10-years-080921005624?src=jobsearchDesk&sid=1631135544569272&xp=13&px=1',
 'https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=1631135544569272&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921602158?src=jobsearchDesk&sid=1631135544569272&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921002157?src=jobsearchDesk&sid=1631135544569272&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ml-sp-staffing-services-private-limited-pune-chennai-bangalore-bengaluru-10-to-15-years-100621006203?src=jobsearchDesk&sid=1631135544569272&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=1631135544569272&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-2-to-4-years-010921906678?src=jobsearchDesk&sid=1631135544569272&xp=19&px=1',
 'https://www.naukri.com/job-listings-cognitive-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-030921904668?src=jobsearchDesk&sid=1631135544569272&xp=20&px=1']

In [30]:
#scraping job description from each url 
d=[]
for i in url:
    driver.get(i)
    try:
        job_d=driver.find_element_by_xpath("//section[@class='job-desc']")
        d.append(job_d.text)
    except:
        d.append("--")
d

['--',
 'Job description\nUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes\nWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.\nSelecting features, building and optimizing classifiers using machine learning and deep learning techniques\nCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems\nProcessing, cleansing, and verifying the integrity of data used for analysis\nDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nJob Qualifications:\nMaster s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development\nExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.\nStrong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc\nHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning\nStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.\nDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent\nExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.\nProficiency in using query languages, such as SQL, PL/SQL\nHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.\nA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.\nA self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science\nRoleClinical Research Associate/Scientist\nIndustry TypeMedical Services / Hospital\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 '--',
 'Job description\nResponsibilities include:\nDefining and evaluating key metrics and understanding what moves them and why\nOwnership of conceptualizing, developing, and maintaining dashboards and visualizations\nInvestigating evolving fraud trends to extract patterns, identify root causes and propose actionable solutions\nCommunicating analyses and recommendations to cross functional stakeholders for decision making\nEmpowering the team to answer data questions quickly and easily by building high-quality ground truth data sets\nHere are example traits we value:\nProfessional industry experience in a quantitative analysis role (7+ years preferred)\nComfortable in SQL and some experience with a programming language (Python or R a plus)\nAbility to communicate clearly and effectively to cross functional partners of varying technical levels\nAbility to define relevant metrics that can guide and influence stakeholders to the appropriate and accurate insights\nExperience or willingness to learn tools to create data pipelines using Airflow\nBuilding clear and easy to understand dashboards (Tableau) and presentations\nRoleGraphic/Web Designer\nIndustry TypeInternet\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData ScienceRData ScientistTableauPythonSql',
 'Job description\n  Skills\nRequired Skills: Data Science, Machine Learning, Deep Learning, Python, NLP\nDesired Skills: Computer Vision\nRoles and responsibilities\nExperience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, Statistics\nHave ability to solve Business problems using Data\nShould possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasets\nHigh level of proficiency in statistical tools like R, Python\nCandidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights.\nHave the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problems\nGood to Have\nExpertise in programming languages like Java/C/C /Python\nExperience with relational databases and SQL is good to have\nExperience in audio and video analytics\nRelevant experience in Big Data platforms like Hadoop eco-system\nCome up with innovative algorithms and solutions\nStaffing Type:Permanent\nRoleClinical Research Associate/Scientist\nIndustry TypeIT Services & Consulting\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nHospitalityNSEStaffingBfsiAnalyticalAgileData miningAnalyticsAutomotiveSQL',
 'Job description\nRequired Technical and Professional Expertise\n• 6+ years of industry work experience in data scientist projects\n• Master’s degree or higher in Statistics/Math/Computer Science or related field\n• Background in applied statistical modeling on large experimental or observational data sets\n• Experience extracting data from a variety of sources, and a desire to expand those skills (working knowledge SQL is required, Spark is a plus)\n• Experience with one or more statistical or machine learning software such as R, Python, etc.\n• Must showcase past work through published articles/GitHub/social media\n\nPreferred Technical and Professional Expertise\n• Knowledge of distributed computing systems, e.g. Cosmos, Spark, Hadoop, and relational database management system\n• PhD. in Statistics is preferred\n• You love collaborative environments that use agile methodologies to encourage creative design thinking and find innovative ways to develop with cutting edge technologies\n• Ambitious individual who can work under their own direction towards agreed targets/goals and with creative approach to work\n• Intuitive individual with an ability to manage change and proven time management\n• Proven interpersonal skills while contributing to team effort by accomplishing related results as needed\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Sc in Maths, Statistics\nPG :MS/M.Sc(Science) in Maths, Statistics\nDoctorate :Doctorate Not Required\nKey Skills\nRData scienceData analyticsSQLPython',
 'Job description\nDepartment- BIRS (Business Intelligence Risk Solutions)\n\nJD Statistical Analyst/ Data scientist:\nClient oriented approach to problem solving. Individual should be able to have a holistic view of multiple businesses and develop analytic solutions accordingly.\nOwn and deliver multiple and complex analytic projects. This would require an understanding of business context, conversion of business problems in modeling, and implementing such solutions to create business value.\nAlways up to date with the latest use cases of modeling community, machine learning and deep learning algorithms and share knowledge within the team.\nProficiency in basic statistics, hypothesis testing, segmentation and predictive modeling.\nAbility to translate and articulate technical thoughts and ideas to a larger audience including influencing skills with peers and senior management.\nStrong project management skills.\nAbility to coach and mentor juniors.\nEagerness to work on new and challenging tasks on a regular basis with an ability to research new ways of doing things better/efficiently.\nContribute to organizational initiatives in wide ranging areas including competency development, training, organizational building activities etc.\nBasic Qualifications\n\nBachelor’s Degree with 2+ years of experience in data analytics,\nHands-on experience in Python / SAS or R programing along with strong experience in SQL and Excel Macros.\nExperienced in working with large and multiple datasets, data warehouses and ability to pull data using relevant programs and coding.\nWell versed with necessary data preprocessing and feature engineering skills.\nAt least 2 years of experience implementing Machine learning algorithms such as Random Forest and Gradient Boosting in solving business problems such as Default classification and macroeconomic forecasting.\nAt least 1 year of experience implementing deep learning techniques like neural networks\nExposure to deep learning packages like Tensorflow\nStrong background in Statistical Analysis\nBackground in BFSI space will be preferredRoles and Responsibilities\n\nIf anyone interested, please share your resume to below mail id:-\n\nSoundarya.s@manpower.co.in;\n\n\nRoleSoftware Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\nTensorflowPredictive ModelingRNeural NetworksMachine LearningStatistical AnalysisDeep LearningPythonRandom ForestSQL',
 '--',
 '--',
 'Job description\nRoles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Sc in Computers, Statistics\nPG :MS/M.Sc(Science) in Computers, Statistics\nDoctorate :Ph.D/Doctorate in Statistics, Computers\nKey Skills\nData ScienceRData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 "Job description\n\nJob description:\n\nSeeking senior data scientists for project-based roles that involve working on various projects.\n\nThe candidate must have experience in Python coding language and machine learning. The candidate will be working on a part-time basis and hours will be flexible based on the candidate's availability.\nOpportunity to grow in a startup setting.\nWhat you'll need:\nB.Tech in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects.\nM.Tech or Ph.D. in CS or Statistics with demonstrable experience of over 3 years through publications/deployed solutions/projects.\nA deep understanding of applied statistical analysis and predictive modeling is desired.\nThe candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis, etc.\nIt is not expected that the candidate has actually worked on all these modules.\nStrong proficiency in Python or R is necessary\n\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypePart Time, Freelance/Homebased\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nKey Skills\nPredictive ModelingRAlgorithmsSVMClusteringMachine LearningStatistical AnalysisStatisticsDeep LearningPython",
 'Job description\nRoles and Responsibilities\nWe are looking for someone who would be responsible for analyzing data and providing business insights. As a Data Scientist your responsibilities will include understanding the business problem and experimenting with different modelling architectures to create the best possible setup from model performance as well as computational performance. To do this job successfully, you need exceptional skills in Machine Learning and Programming. Your ultimate goal will be to find the best data-based solution for the problem at hand.\nMoreover, you are expected to learn fast and deliver quickly in a fast-paced startup environment. If you thrive on ambiguity and are a problem solver and yet deliver value to clients, feel free to reach out to us.\nWe are looking ONLY FOR SELF DRIVEN INDIVIDUALS with a desire to excel in Data Science Domain.\nUnderstanding business objectives and developing models that help to achieve them, along with metrics to track their progress\nDevelop and maintain robust data processing pipelines and reproducible modeling pipelines\nBuild mathematical models to solve various problems ranging from Time Series forecasting to Neural Networks and ensure seamless deployment in production pipelines.\nAnalyze experimental results, iterate and refine models to create significant business impact\nFollow strict coding standards and other software engineering best practices\n\n\nDesired Candidate Profile\nProven experience as a Data Scientist or similar role\nStrong SQL, R/Python Skills\nShould have familiarity with Machine Learning Models and fundamentals in Forecasting and Optimization Techniques\nShould have strong mathematical background & analytical bent of mind\nStrong Problem-Solving Ability\nAbility to communicate well in a highly collaborative team environment, consisting of both technical and non-technical personnel\nReliable self-starter that is capable of working with a high degree of autonomy\n\n\nPerks and Benefits\n\nNeenOpal is a global management consulting firm with a unique and specialized focus on Data Science.\nWe provide services across the whole value chain of an organization - Digital Strategy, Sales & Marketing, Supply Chain & Logistics as well as Finance. Youll have a blast doing it in our fun, passionate environment.\nRoleData scientist\nIndustry TypeManagement Consulting\nFunctional AreaIT Software - Other\nEmployment TypeFull Time, Permanent\nRole CategoryNot mentioned\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData SciencePythonSQL\nExcelSoftware EngineeringProblem SolvingNeural NetworksTime SeriesData AnalysisBusiness InsightsData ProcessingMachine Learning\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nHi,\n\nWe at Prescience www.prescienceds.com looking for Data Scientist @ Bangalore .\n\nRoles and Responsibilities\nAs a Data Scientist you will be working with senior management of clients to understand the business requirements, define right problem statement and come up with a framework for the solution. You will also work on the solution and at time guide a small team to deliver the same. Part of job role would be develop products in the area of Natural Language Processing, Conversational Interfaces, Text Mining etc.\n\nDesired Candidate Profile\nWhat we are looking for:\nGood applied statistics skills, such as distributions, statistical testing, regression, etc. Experience in Natural Language Processing, Computer Vision. Exposure to common data science business problems like clustering, classification, anomaly detection, prediction etc.\nGood understanding of machine learning techniques and algorithms\nExperience with common data science toolkits Python, R, SAS\nProficiency in using query languages such as SQL, Hive, etc Experience with NoSQL database, SQL Server, PostgreSQL, MongoDB\nGreat communication skills\nData-oriented personality and excellent business analysis skills\nExperience in solutioning for data science related problems, work with business stakeholders to define right problem statement and solution.\nOpen to professionals who have data analytics / BI background and then moved to Data Scientist roles.\n\nPerks and Benefits\n\n\nRoleOther\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :Any Graduate\nKey Skills\nTensorflowPostgreSQLNatural Language ProcessingNeural NetworksMachine LearningStatisticsSQLData ScienceAnomaly DetectionPytorchRNLPMongoDBQlikViewComputer VisionData AnalyticsPython',

In [31]:
#data frame 
data=list(zip(T,Com,EX,L,d))
j=pd.DataFrame(data=data,columns=["Job_title","Company","Experience","Location","Job_description"])
j=j[0:10]
j

,Job_title,Company,Experience,Location,Job_description
0,Lead Data Scientist BFSI,IBM India Pvt. Limited,5-9 Yrs,Bengaluru/Bangalore,--
1,Associate Data Scientist,Philips India Limited,3-5 Yrs,Bangalore/Bengaluru,Job description\nUse predictive modeling to in...
2,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,3-7 Yrs,Bengaluru/Bangalore,--
3,Senior Data Scientist,Airbnb,7-12 Yrs,Bangalore/Bengaluru,Job description\nResponsibilities include:\nDe...
4,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,5-10 Yrs,Bangalore/Bengaluru,Job description\n Skills\nRequired Skills: Da...
5,Data Scientist (Python & SQL),AVE-Promagne,6-8 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Job description\nRequired Technical and Profes...
6,Hiring For Data Scientist / Statistical Analyst,ManpowerGroup Services India Private Limited,2-4 Yrs,Bangalore/Bengaluru,Job description\nDepartment- BIRS (Business In...
7,Sr Data Scientist,IBM India Pvt. Limited,6-8 Yrs,Bengaluru/Bangalore,--
8,Sr Data Scientist,IBM India Pvt. Limited,6-8 Yrs,Bangalore/Bengaluru,--
9,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,6-11 Yrs,Bangalore/Bengaluru,Job description\nRoles and Responsibilities\nR...

Q-3 In this question you have to scrape data using the filters available on the
webpage 
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [32]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.naukri.com/")

In [33]:
s=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
s.send_keys("Data Scientist")

In [34]:
sea=driver.find_element_by_xpath("//div[@class='search-btn']")
sea.click()

In [35]:
#filter location = Delhi
f_l=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in f_l:
    if i.text=="Delhi / NCR":
        i.click()
        break

In [36]:
#filter 3-6L
f=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in f:
    if i.text=="3-6 Lakhs":
        i.click()
        break

In [37]:
#scraping job title
j_t=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Job_T=[]
for i in j_t:
    Job_T.append(i.text)
Job_T

['Data Analyst/Data Scientist',
 'Data Scientist/ Machine Learning Engineer',
 'Data Scientist - WFH - MIND Infotech',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist / Data Analyst',
 'Data Scientist',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist',
 'Immediate Openings For Data Scientist For Wipro C2H',
 'Data Scientist',
 'Data Scientist-immediate Joiners',
 'Data Scientist - Machine Learning/ NLP',
 'Junior Data Scientists & Engineers',
 'Data Scientist',
 'Senior Data Scientist',
 'Hiring Data Scientist Develope || IDS Infotech LTD || (Permanent WFH)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Internship',
 'Data Scientist']

In [38]:
#scraping job location
j_l=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
Lo=[]
for i in j_l:
    Lo.append(i.text)
Lo

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Noida\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Delhi / NCR(Okhla)',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chandigarh, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon, Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'New Delhi',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [39]:
#scraping company
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
C=[]
for i in comp:
    C.append(i.text)
C

['Skillenable Fintech Private Limited',
 'Creative Hands HR Consultancy',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'GABA Consultancy services',
 'CARS24',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'GABA Consultancy services',
 'R Systems International Ltd.',
 'IDESLABS PRIVATE LIMITED',
 'Kusum Healthcare Pvt. Ltd.',
 'Quikruit Consulting LLP',
 'TalPro',
 'PY Consultancy',
 'Fractal Analytics',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'IDS Infotech Ltd.',
 'BlackBuck',
 'Country Veggie',
 'iHackers Inc',
 'UrbanClap']

In [40]:
#scraping experience required
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
E=[]
for i in exp:
    E.append(i.text)
E

['2-5 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '1-3 Yrs',
 '0-0 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '4-6 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '0-3 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '0-1 Yrs',
 '1-3 Yrs']

In [41]:
print(len(Job_T))
print(len(C))
print(len(E))
print(len(Lo))

20
20
20
20

In [42]:
#data frame 
data=list(zip(Job_T,C,E,Lo))
Job_n=pd.DataFrame(data=data,columns=["Job_title","Company","Experience_required","Location"])
Job_n=Job_n[0:10]
Job_n

,Job_title,Company,Experience_required,Location
0,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,2-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
1,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,0-0 Yrs,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme..."
2,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC..."
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
4,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
5,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs,Gurgaon/Gurugram\n(WFH during Covid)
6,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
7,Data Scientist,R Systems International Ltd.,3-6 Yrs,Noida\n(WFH during Covid)
8,Immediate Openings For Data Scientist For Wipr...,IDESLABS PRIVATE LIMITED,5-10 Yrs,Gurgaon/Gurugram
9,Data Scientist,Kusum Healthcare Pvt. Ltd.,4-6 Yrs,Delhi / NCR(Okhla)

Q-4  Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.

In [43]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.glassdoor.co.in/member/home/index.htm")

In [44]:
#entering data scientist into search 
jo=driver.find_element_by_xpath("//input[@id='sc.keyword']")
jo.send_keys("Data Scientist")

In [45]:
#entering noida into location 
lo=driver.find_element_by_xpath("//input[@id='sc.location']")
lo.send_keys("Noida")

In [46]:
#click on the search button 
se=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7']")
se.click()

In [47]:
#scraping company 
cO=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
CO=[]
for i in cO:
    CO.append(i.text)
CO

['Liberin Technologies Private Limited',
 'AlgoScale Technologies Private Limited',
 'Lenskart',
 'limeroad.com',
 'Saishaa Services',
 'Ishatva Management Solutions',
 'Noisy Lion',
 'Emerging India Analytics',
 'Salasar New Age Technologies',
 'Badatya Private Limited',
 'Biz2Credit Inc',
 'Techlive',
 'Newgen Software',
 'CaaStle',
 'Salasar New Age Technologies',
 'Innovacer',
 'Bizzhype HR',
 'Airtel India',
 'SearchUrCollege',
 'NEC Opportunities',
 'Grail Insights',
 'Gauge Data Solutions',
 'ING',
 'Grail Insights',
 'Wobot.ai',
 'NMG Technologies',
 'Ericsson',
 'IElevate Institute',
 'Crowe',
 'WinZO']

In [48]:
#scraping job title
Jo=driver.find_elements_by_xpath("//a[@class='jobLink job-search-key-1rd3saf eigr9kq1']")
j=[]
for i in Jo:
    j.append(i.text)
j

['Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Analytics part time job/internship at Noida',
 'Data Science Training Head-Full Time',
 'Data Scientist Intern',
 'Data Science Consultant',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Insights',
 'Data Scientist',
 'Senior Data Scientist',
 'Machine Learning Engineer',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Spark Engg / Dot data',
 'Analyst – Data Science',
 'Data Scientist',
 'Data Scientist',
 'Management Trainee – Data Science',
 'Computer Vision Engineer',
 'Urgent Opening || Python Machine Learning || NMG Technologies || Gurugram',
 'Data Scientist',
 'Data Science Trainer',
 'Data Scientist',
 'Data Scientist']

In [49]:
#scrape location 
Lo=driver.find_elements_by_xpath("//span[@class='css-1buaf54 pr-xxsm job-search-key-iii9i8 e1rrn5ka4']")
L=[]
for i in Lo:
    L.append(i.text)
L

['Noida',
 'Noida',
 'Farīdābād',
 'Gurgaon',
 'New Delhi',
 'New Delhi',
 'Noida',
 'Noida',
 'Noida',
 'New Delhi',
 'Noida',
 'Noida',
 'Noida',
 'New Delhi',
 'Noida',
 'Noida',
 'Ghaziabad',
 'Gurgaon',
 'Noida',
 'New Delhi',
 'Noida',
 'Noida',
 'New Delhi',
 'Noida',
 'New Delhi',
 'Gurgaon',
 'Noida',
 'New Delhi',
 'Noida',
 'New Delhi']

In [50]:
#scraping "who many days ago the listing was posted"
age=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
A=[]
for i in age:
    A.append(i.text)
A

['30d+',
 '14d',
 '2d',
 '14d',
 '16d',
 '9d',
 '24h',
 '30d+',
 '30d+',
 '11d',
 '30d+',
 '30d+',
 '30d+',
 '24h',
 '30d+',
 '30d+',
 '1d',
 '20d',
 '30d+',
 '21d',
 '24h',
 '30d+',
 '5d',
 '24h',
 '12d',
 '26d',
 '7d',
 '8d',
 '30d+',
 '30d+']

In [51]:
#scraping the rating 
url=[]
R=[]
for i in Jo:
    url.append(i.get_attribute("href"))
url

for j in url:
    driver.get(j)
    try:
        r=driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
        R.append(r.text.replace("\n"," "))
    except:
        R.append("--")
R

['--',
 '--',
 '3.6 ★',
 '--',
 '--',
 '--',
 '3.9 ★',
 '--',
 '--',
 '4.5 ★',
 '4.2 ★',
 '--',
 '3.3 ★',
 '3.2 ★',
 '--',
 '3.8 ★',
 '--',
 '3.8 ★',
 '--',
 '--',
 '3.5 ★',
 '--',
 '4.0 ★',
 '3.5 ★',
 '--',
 '3.4 ★',
 '4.1 ★',
 '--',
 '3.8 ★',
 '4.0 ★']

In [52]:
#dataframe 
data=list(zip(CO,j,L,A,R))
Job=pd.DataFrame(data=data,columns=["Company","Job_title","Location","Posted_on","Rating"])
Job=Job[0:10]
Job

,Company,Job_title,Location,Posted_on,Rating
0,Liberin Technologies Private Limited,h,Noida,30d+,--
1,AlgoScale Technologies Private Limited,t,Noida,14d,--
2,Lenskart,t,Farīdābād,2d,3.6 ★
3,limeroad.com,p,Gurgaon,14d,--
4,Saishaa Services,s,New Delhi,16d,--
5,Ishatva Management Solutions,:,New Delhi,9d,--
6,Noisy Lion,/,Noida,24h,3.9 ★
7,Emerging India Analytics,/,Noida,30d+,--
8,Salasar New Age Technologies,w,Noida,30d+,--
9,Badatya Private Limited,w,New Delhi,11d,4.5 ★

Q-5 Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.

In [53]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [54]:
#entering data scientist into search 
s=driver.find_element_by_xpath("//input[@id='KeywordSearch']")
s.send_keys("Data Scientist")

In [55]:
#entering noida into location 
l=driver.find_element_by_xpath("//input[@id='LocationSearch']")
l.send_keys('Noida')

In [56]:
#clicking on search 
k=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
k.click()

In [57]:
#scraping company 
com=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
C=[]
for i in com:
    C.append(i.text)
C

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'Amazon',
 'CARS24.com',
 'Vidooly Media Tech',
 'ParallelDots']

In [58]:
#scraping avg salary 
avg=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
A=[]
for i in avg:
    A.append(i.text. replace("\n",""))
A

['₹6,19,349 /yr',
 '₹9,00,000 /yr',
 '₹11,71,012 /yr',
 '₹12,26,283 /yr',
 '₹7,44,116 /yr',
 '₹12,80,000 /yr',
 '₹13,29,677 /yr',
 '₹14,28,139 /yr',
 '₹8,69,449 /yr',
 '₹11,10,000 /yr',
 '₹9,53,560 /yr',
 '₹11,49,894 /yr',
 '₹10,81,155 /yr',
 '₹12,17,018 /yr',
 '₹14,24,677 /yr',
 '₹11,09,179 /yr',
 '₹20,25,084 /yr',
 '₹10,60,462 /yr',
 '₹34,383 /mo',
 '₹8,32,315 /yr']

In [59]:
#scarping rating
rating=driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
R=[]
for i in rating:
    R.append(i.text)
R

['3.9',
 '3.9',
 '4.1',
 '3.8',
 '4',
 '3.7',
 '3.7',
 '3.9',
 '4.2',
 '3.6',
 '3.8',
 '4',
 '4',
 '3.8',
 '3.3',
 '4.1',
 '3.8',
 '4.1',
 '3.8',
 '3.8']

In [60]:
#scraping maximum and minimum salary  
min_s=[]
max_s=[]
url=[]
for i in com:
    url.append(i.get_attribute("href"))
for j in url:
    driver.get(j)
    try:
        mi=driver.find_element_by_xpath("//div[@class='d-flex my-xxsm css-79elbk e86zor80']//strong[1]")
        min_s.append(mi.text)
        ma=driver.find_element_by_xpath("//div[@class='d-flex my-xxsm css-79elbk e86zor80']//strong[2]")
        max_s.append(ma.text)
    except:
        print("--")

In [61]:
#dataframe 
data=list(zip(C,A,R,min_s,max_s))
J=pd.DataFrame(data=data,columns=["Company","Average_salary","Rating","Minimum_salary","Maximum_salary"])
J=J[0:10]
J

,Company,Average_salary,Rating,Minimum_salary,Maximum_salary
0,Tata Consultancy Services,"₹6,19,349 /yr",3.9,₹4L,₹13L
1,IBM,"₹9,00,000 /yr",3.9,₹1L,₹28L
2,Accenture,"₹11,71,012 /yr",4.1,₹6L,₹22L
3,Delhivery,"₹12,26,283 /yr",3.8,₹5L,₹1Cr
4,Ericsson-Worldwide,"₹7,44,116 /yr",4,₹4L,₹16L
5,UnitedHealth Group,"₹12,80,000 /yr",3.7,₹8L,₹15L
6,Optum,"₹13,29,677 /yr",3.7,₹8L,₹20L
7,Optum Global Solutions,"₹14,28,139 /yr",3.9,₹10L,₹17L
8,Valiance Solutions,"₹8,69,449 /yr",4.2,₹5L,₹15L
9,EXL Service,"₹11,10,000 /yr",3.6,₹6L,₹15L

Q - 6 Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:

In [62]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [63]:
s=driver.find_element_by_xpath("//input[@class='_3704LK']")
s.send_keys("sunglasses")

In [64]:
#clicking the search botton 
k=driver.find_element_by_xpath("//button[@type='submit']")
k.click()

In [65]:
from time import sleep
page=0
brand=[]
desc=[]
price=[]
dis=[]
while page <3:
    sleep(5) #putting the code t sleep for 5sec 
    #scrape brand names
    b=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in b:
        brand.append(i.text)
    
    #scrape description 
    d=driver.find_elements_by_class_name("IRpwTa")
    for i in d:
        desc.append(i.text)
    
    #scrape price
    p=driver.find_elements_by_xpath("//div[@class='_30jeq3']")[0:40]
    for i in p:
        price.append(i.text)
    
    
    #scrape discount 
    di=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in di:
        dis.append(i.text)
    
    
    page=page+1 #page increment 
    
    #click on the next button
    Next=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[@class='_1LKTO3']/span[text()='Next']")
    Next.click()

In [66]:
#dataframe
data=list(zip(brand,desc,price,dis))
glass=pd.DataFrame(data=data,columns=["Brand","Description","Price","Discount"])
glass=glass[0:100]
glass

,Brand,Description,Price,Discount
0,elegante,Mirrored Round Sunglasses (Free Size),₹399,80% off
1,ROYAL SON,Polarized Retro Square Sunglasses (58),₹854,57% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
3,Elligator,UV Protection Round Sunglasses (54),₹329,86% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
...,...,...,...,...
95,ROYAL SON,"UV Protection, Polarized Aviator Sunglasses (60)",₹711,64% off
96,Fastrack,UV Protection Wayfarer Sunglasses (57),₹503,37% off
97,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹474,68% off
98,PIRASO,UV Protection Butterfly Sunglasses (65),₹449,82% off
99,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (60)",₹745,76% off

Q - 7  Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

In [67]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes%02earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")

In [68]:
#to get all the reviews 
c=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
c.click()

In [69]:
rating=[]
short=[]
review=[]
page=0

while page<11:
    sleep(5) #putting the code to sleep for 5seconds 
    
    #scraping rating
    r=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in r:
        rating.append(i.text)
    
    #scraping short description 
    s=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in s:
        short.append(i.text)
     
    
    #scraping full review 
    r=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in r:
        review.append(i.text)
        
    
    page=page+1 #increment 
    
    #clicking the next button
    n=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    n.click()

In [70]:
#data frame 
data=list(zip(rating,short,review))
phone=pd.DataFrame(data=data,columns=["Rating","Review_summary","Full_review"])
phone=phone[0:100]
phone

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

 Q - 8 Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.

In [71]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [72]:
#entering sneakers into search  
s=driver.find_element_by_xpath("//input[@class='_3704LK']")
s.send_keys("sneakers")

In [73]:
#clicking the search button 
k=driver.find_element_by_xpath("//button[@type='submit']")
k.click()

In [74]:
from time import sleep
page=0
brand=[]
desc=[]
price=[]
dis=[]

while page<3:
    sleep(5)
    
    #scraping brand names 
    b=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in b:
        brand.append(i.text)
        
    #scraping product description
    d=driver.find_elements_by_class_name("IRpwTa")
    for i in d:
        desc.append(i.text)
        
    #scraping price 
    p=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in p:
        price.append(i.text)
        
    #scraping discounts
    di=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in di:
        dis.append(i.text)
    
    page=page+1 #increment 
    
    #cicking the next button 
    nex=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    nex.click()
    
    
#dataframe 
data=list(zip(brand,desc,price,dis))
sneakers=pd.DataFrame(data=data,columns=["Brand","Description","Price","Discount"])
sneakers= sneakers[0:100]
sneakers

,Brand,Description,Price,Discount
0,SPARX,SM439G Sneakers For Men,₹649,7% off
1,PUMA,Hip Hop Mid Perf IDP Sneakers For Men,"₹1,535",56% off
2,SPARX,SM-482 Sneakers For Men,₹999,21% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹567,64% off
4,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹379,70% off
...,...,...,...,...
95,SPARX,SD-323 Sneakers For Men,₹625,16% off
96,PUMA,Bari Sneakers For Men,"₹1,016",66% off
97,SPARX,SM-282 Sneakers For Men,₹899,25% off
98,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹498,72% off
99,Numenzo,Sneakers For Men,₹449,77% off

Q - 9 Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,

In [94]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.myntra.com/shoes")

In [95]:
#applying colour filter 
sleep(5)
f_c=driver.find_elements_by_xpath("//li[@class='colour-listItem']/label[@class='common-customCheckbox']")[0]
f_c.click()

In [96]:
#applying price filter 
f_p=driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")
for i in f_p:
    if i.text=="Rs. 6935 to Rs. 13621(696)":
        i.click()
        break

In [97]:
page=0
brand=[]
desc=[]
price=[]

while page<2:
    sleep(5)
    
    #scraping brand name 
    b=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in b:
        brand.append(i.text)
        
    
    #scraping product description 
    d=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in d:
        desc.append(i.text)
    
    
    #scraping price 
    p=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in p:
        price.append(i.text)
        
    page=page+1 #increment 
    
    n=driver.find_element_by_xpath("//li[@class='pagination-next']")
    n.click()
    
    
#dataframe
data=list(zip(brand,desc,price))
shoe=pd.DataFrame(data=data,columns=["Brand","Product_description","Price"])
shoe=shoe[0:100]
shoe

        Brand               Product_description                        Price
0        Nike    Men Air Zoom Structure Running                    Rs. 10295
1        ALDO                 Men Driving Shoes                    Rs. 11999
2        Puma    Men Cell Fraction Fade Running                     Rs. 6999
3        Puma        Men Velocity Nitro Running                    Rs. 10999
4        Puma         Mesh Hybrid Fuego Running                     Rs. 6999
..        ...                               ...                          ...
95    Saint G        Women Leather Heeled Boots                     Rs. 8900
96    Saint G        Women Leather Heeled Boots                     Rs. 7600
97      Ruosh  Men Solid Leather Formal Oxfords   Rs. 8094Rs. 13490(40% OFF)
98  J.FONTINI      Men Textured Leather Loafers                     Rs. 6990
99       Geox       Men Leather Formal Slip-Ons  Rs. 11242Rs. 14990(25% OFF)

[100 rows x 3 columns]

Q - 10 Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.

In [98]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.amazon.in/")

In [99]:
s=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
s.send_keys("Laptop")

In [100]:
k=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
k.click()

In [101]:
#filter Intel Core i7
f_7=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span")
f_7.click()

In [102]:
#filter intel core i9
f_9=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span")
f_9.click()

In [103]:
#scraping title
t=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title=[]
for i in t:
    title.append(i.text)
title

['Dell XPS 9370 13.3-inch FHD Display Thin & Light Laptop (8th Gen i7-8550U/16GB/512GB SSD/Win 10 + MS Office/Integrated Graphics), Gold',
 'HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/Gray/2 kg), FX516PC-HN063T',
 'ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Eclipse Gray/2.6 Kg) FX766HE-HX022T',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6" FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33.78cm) FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/Black/997gms), 4ZR1D71993',
 'Mi Notebook Pro QHD+ IPS Anti Glare Display Intel Core i7-11370H 11th Gen 14-inch(35.56 cms) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/Backlit KB/Fingerprint Sensor/1.4 Kg)',
 'Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms) Full HD IPS Gaming Laptop (16 GB/256GB SSD/1 TB HDD/Win 10/4 GB Graphics/NVIDIA GeForce RTX 3050 Ti/144 Hz, Black, 2.4 kg) AN515-57',
 'ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD 240Hz/3ms, Intel Core i7-11370H, GeForce RTX 3060 6GB Graphics, Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10 Home/Gray/2 Kg) FX516PM-AZ153TS',
 'Acer Swift 5 14" (35.56cms) Full HD IPS Display with Touchscreen Ultra Thin and Light Notebook (Intel i7 - 11th Gen/16GB RAM/1TB SSD/Win10/Intel Iris Xe Graphics/1.05 Kg/Mist Green), SF514-55TA',
 '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (32GB RAM /1TB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation',
 '(Renewed) Hp Intel 7th Gen Core i7 13.3-inch (33.78 Cms) 1920 x 1080 TOUCHSCREEN Laptop (16GB RAM/1TB SSD/Windows 10 Pro/MS Office/Intel HD Integrated Graphics/ Silver/1.2Kg) EliteBook x360 G2',
 'Mi Notebook Ultra 3K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cms) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)',
 'ASUS VivoBook S S15 (2021), 15.6-inch (39.62 cms) FHD Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (8GB/512GB SSD/Office 2019/Windows 10/2GB NVIDIA MX350 Graphics/Silver/1.8 kg) S532EQ-BQ702TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg), 82BH00E0IN',
 'Acer Nitro 5 Intel Core i7-11th Gen 15.6-inch (39.62 cms) 144 Hz Refresh Rate Gaming Laptop (8GB RAM/RTX 3050 Graphics/1TB HDD + 256GB SSD/Windows 10 HS/Black/2.4 Kgs), AN515-57',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596',
 'HP Pavilion Gaming 11th Gen Intel Core i7 15.6-inch(39.6 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/144Hz/GTX 1650 4GB Graphics/Win 10/MS Office/Shadow Black/2.28 Kg), 15-dk2075tx',
 '(Renewed) HP Pavilion Gaming(2021) 10th Gen Intel Core i7 15.6-inch(39.6 cm) FHD IPS 144Hz Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/NVIDIA GTX 1650Ti 4GB/Win 10/MS Office/Shadow Black), 15-DK1511TX',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'Lenovo Yoga Slim 7 Carbon 11th Gen Intel Core i7 13.3" (33.78cm) QHD IPS Ultra-Light & Thin Laptop (16GB/1TB SSD/Windows 10/MS Office/Intel Iris Xe GFX/Carbon Fiber/Moon White/0.96 Kg), 82EV003WIN']

In [104]:
url=[]
price=[]
rating=[]
u=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a")
#scrape url 
for i in u:
    url.append(i.get_attribute("href"))
for i in url:
    driver.get(i)
    #scraping price of each laptop 
    try:
        p=driver.find_element_by_xpath("//tr[@id='priceblock_ourprice_row']//td[2]")
        price.append(p.text)
    except:
        price.append("--")

In [105]:
#scraping rating
for i in url[0:10]:
    driver.get(i)
    try:
        r=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        rating.append(r.text)
    except:
        rating.append("--")

In [106]:
#dataframe 
data=list(zip(title,price,rating))
laptop=pd.DataFrame(data=data,columns=["Laptop_title","Price","Ratings"])
laptop=laptop[0:10]
laptop

,Laptop_title,Price,Ratings
0,Dell XPS 9370 13.3-inch FHD Display Thin & Lig...,"₹1,14,990.00",2.8 out of 5
1,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,"₹1,23,300.00",4.1 out of 5
2,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,"₹77,990.00",4.3 out of 5
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"₹57,990.00",4.2 out of 5
4,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...","₹87,990.00",3.5 out of 5
5,"ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...","₹1,13,990.00",--
6,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...","₹5,56,524.00",3.9 out of 5
7,Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...,"₹73,990.00",4.4 out of 5
8,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,"₹94,500.00",5 out of 5
9,"MSI GF75 Thin, Intel i7-10750H, 17.3"" (43.9 cm...","₹74,990.00",4.2 out of 5