In [74]:
import selenium 
from selenium import webdriver 
import pandas as pd
from selenium.common import exceptions
from selenium.common.exceptions import NoSuchElementException

Q1 - Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [29]:
na=[]
#scraping web elements
n=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td")
for i in n:
    na.append(i.text)

In [30]:
#name
na.pop(0)
i=0
ind=[]
for i,v in enumerate(na):
    while i<180:
        ind.append(i)
        i=i+6

In [31]:
name=[]
for i in ind:
    name.append(na[i])
name=name[0:30]

In [32]:
#Artist
na.pop(0)
i=0
artist=[]
a=[]
for i,v in enumerate(na):
    while i<180:
        a.append(i)
        i=i+6

In [33]:
for i in a:
    artist.append(na[i])
artist=artist[0:30]

In [34]:
#views
na.pop(0)
i=0
inde=[]
for i,v in enumerate(na):
    while i<180:
        inde.append(i)
        i=i+6

In [35]:
views=[]
for i in inde:
    views.append(na[i])
views=views[0:30]

In [36]:
#date
na.pop(0)
date=[]
b=[]
i=0
for i,v in enumerate(na):
    while i<180:
        b.append(i)
        i=i+6

In [37]:
for i in b:
    date.append(na[i])
date=date[0:30]

In [38]:
#data frame 
rank=list(range(1,31))
data=list(zip(rank,name,artist,views,date))
yt=pd.DataFrame(data=data,columns=["Rank","Video Name"," Artist","Total Views","Uploaded Date"])
yt

,Rank,Video Name,Artist,Total Views,Uploaded Date
0,1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.44,"June 17, 2016"
1,2,"""Despacito""[25]",Luis Fonsi,7.57,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.77,"October 8, 2016"
3,4,"""Shape of You""[27]",Ed Sheeran,5.48,"January 30, 2017"
4,5,"""See You Again""[28]",Wiz Khalifa,5.28,"April 6, 2015"
5,6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.55,"May 2, 2018"
6,7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.52,"February 27, 2018"
7,8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.46,"January 31, 2012"
8,9,"""Uptown Funk""[34]",Mark Ronson,4.32,"November 19, 2014"
9,10,"""Phonics Song with Two Words""[35]",ChuChu TV,4.22,"March 6, 2014"
10,11,"""Gangnam Style""[36]",Psy,4.21,"July 15, 2012"
11,12,"""Dame Tu Cosita""[38]",El Chombo,3.63,"April 5, 2018"
12,13,"""Sugar""[39]",Maroon 5,3.56,"January 14, 2015"
13,14,"""Sorry""[40]",Justin Bieber,3.47,"October 22, 2015"
14,15,"""Roar""[41]",Katy Perry,3.44,"September 5, 2013"
15,16,"""Counting Stars""[42]",OneRepublic,3.41,"May 31, 2013"
16,17,"""Thinking Out Loud""[43]",Ed Sheeran,3.34,"October 7, 2014"
17,18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.29,"May 24, 2018"
18,19,"""Dark Horse""[45]",Katy Perry,3.15,"February 20, 2014"
19,20,"""Faded""[46]",Alan Walker,3.15,"December 3, 2015"
20,21,"""Girls Like You""[47]",Maroon 5,3.14,"May 31, 2018"
21,22,"""Lean On""[48]",Major Lazer,3.10,"March 22, 2015"
22,23,"""Bailando""[49]",Enrique Iglesias,3.10,"April 11, 2014"
23,24,"""Shake It Off""[50]",Taylor Swift,3.10,"August 18, 2014"
24,25,"""Let Her Go""[51]",Passenger,3.09,"July 25, 2012"
25,26,"""Axel F""[52]",Crazy Frog,3.03,"June 16, 2009"
26,27,"""Mi Gente""[53]",J Balvin,2.99,"June 29, 2017"
27,28,"""Perfect""[54]",Ed Sheeran,2.97,"November 9, 2017"
28,29,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.96,"June 4, 2010"
29,30,"""Hello""[56]",Adele,2.89,"October 22, 2015"

Q2 - Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [39]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.bcci.tv/")

In [40]:
from time import sleep
#clicking on the "international fixtures" icon
ic=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
ic.click()
sleep(1)
fix=driver.find_element_by_xpath("//li[@class='drop-down__option  ']")
fix.click()

In [41]:
#clicking on show more 
show=driver.find_element_by_xpath("//button[@class='load-more-button u-center js-show-more-button js-loader']")
show.click()

In [43]:
title=[]
#scraping title
t=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in t:
    title.append(i.text)

In [45]:
#scraping series
ser=[]
s=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']")
for i in s:
    ser.append(i.text)

In [47]:
#scrping place
place=[]
p=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in p:
    place.append(i.text)

In [54]:
#scraping date and time 
time=[]
day=[]
month=[]
mo=driver.find_elements_by_xpath("//span[@class='fixture__month']")
for i in mo:
    month.append(i.text)
da=driver.find_elements_by_xpath("//span[@class='fixture__date']")
for j in da:
    day.append(j.text)
    
ti=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for k in ti:
    time.append(k.text)

In [55]:
#dataframe
data=list(zip(title,ser,place,day,month,time))
bcci=pd.DataFrame(data=data,columns=["Match Title","Series Name","Place","Day","Month","Time"])
bcci

,Match Title,Series Name,Place,Day,Month,Time
0,2021 ICC MEN'S T20 WORLD CUP,T20I,"Dubai International Stadium, Dubai",24,OCTOBER,19:30 IST
1,2021 ICC MEN'S T20 WORLD CUP,T20I,"Dubai International Stadium, Dubai",31,OCTOBER,19:30 IST
2,2021 ICC MEN'S T20 WORLD CUP,T20I,"Zayed Cricket Stadium, Abu Dhabi",03,NOVEMBER,19:30 IST
3,2021 ICC MEN'S T20 WORLD CUP,T20I,"Dubai International Stadium, Dubai",05,NOVEMBER,19:30 IST
4,2021 ICC MEN'S T20 WORLD CUP,T20I,"Dubai International Stadium, Dubai",08,NOVEMBER,19:30 IST
5,INDIA V NEW ZEALAND 2021,T20I,"Sawai Mansingh Stadium, Jaipur",17,NOVEMBER,19:00 IST
6,INDIA V NEW ZEALAND 2021,T20I,"JSCA International Stadium Complex, Ranchi",19,NOVEMBER,19:00 IST
7,INDIA V NEW ZEALAND 2021,T20I,"Eden Gardens, Kolkata",21,NOVEMBER,19:00 IST
8,INDIA V NEW ZEALAND 2021,TEST,"Green Park, Kanpur",25,NOVEMBER,09:30 IST
9,INDIA V NEW ZEALAND 2021,TEST,"Wankhede Stadium, Mumbai",03,DECEMBER,09:30 IST
10,SOUTH AFRICA V INDIA 2021/2022,TEST,"New Wanderers Stadium, Johannesburg",17,DECEMBER,13:30 IST
11,SOUTH AFRICA V INDIA 2021/2022,TEST,"Supersport Park, Centurion",26,DECEMBER,13:30 IST
12,SOUTH AFRICA V INDIA 2021/2022,TEST,"New Wanderers Stadium, Johannesburg",03,JANUARY,13:30 IST
13,SOUTH AFRICA V INDIA 2021/2022,ODI,"Boland Park, Paarl",11,JANUARY,14:00 IST
14,SOUTH AFRICA V INDIA 2021/2022,ODI,"Newlands, Cape Town",14,JANUARY,14:00 IST
15,SOUTH AFRICA V INDIA 2021/2022,ODI,"Newlands, Cape Town",16,JANUARY,14:00 IST
16,SOUTH AFRICA V INDIA 2021/2022,T20I,"Newlands, Cape Town",19,JANUARY,19:30 IST
17,SOUTH AFRICA V INDIA 2021/2022,T20I,"Newlands, Cape Town",21,JANUARY,19:30 IST
18,SOUTH AFRICA V INDIA 2021/2022,T20I,"Boland Park, Paarl",23,JANUARY,19:30 IST
19,SOUTH AFRICA V INDIA 2021/2022,T20I,"Boland Park, Paarl",26,JANUARY,19:30 IST
20,INDIA V WEST INDIES 2022,ODI,"Narendra Modi Stadium, Ahmedabad",06,FEBRUARY,13:00 IST
21,INDIA V WEST INDIES 2022,ODI,"Sawai Mansingh Stadium, Jaipur",09,FEBRUARY,13:00 IST
22,INDIA V WEST INDIES 2022,ODI,"Eden Gardens, Kolkata",12,FEBRUARY,13:00 IST
23,INDIA V WEST INDIES 2022,T20I,"Barabati Stadium, Cuttack",15,FEBRUARY,19:00 IST
24,INDIA V WEST INDIES 2022,T20I,"ACA-VDCA Stadium, Visakhapatnam",18,FEBRUARY,19:00 IST
25,INDIA V WEST INDIES 2022,T20I,"Greenfield Stadium, Thiruvananthapuram",20,FEBRUARY,19:00 IST
26,INDIA V SRI LANKA 2022,TEST,"M.Chinnaswamy Stadium, Bangalore",25,FEBRUARY,09:30 IST
27,INDIA V SRI LANKA 2022,TEST,"Punjab Cricket Association Stadium, Mohali, Ch...",05,MARCH,09:30 IST
28,INDIA V SRI LANKA 2022,T20I,"Punjab Cricket Association Stadium, Mohali, Ch...",13,MARCH,19:00 IST
29,INDIA V SRI LANKA 2022,T20I,"Himachal Pradesh Cricket Association Stadium, ...",15,MARCH,19:00 IST
30,INDIA V SRI LANKA 2022,T20I,Bharat Ratna Shri Atal Bihari Vajpai Ekana Cri...,18,MARCH,19:00 IST
31,INDIA V SOUTH AFRICA 2022,T20I,"M. A. Chidambaram Stadium, Chennai",09,JUNE,19:00 IST
32,INDIA V SOUTH AFRICA 2022,T20I,"M.Chinnaswamy Stadium, Bangalore",12,JUNE,19:00 IST
33,INDIA V SOUTH AFRICA 2022,T20I,"Vidarbha Cricket Association Stadium, Nagpur",14,JUNE,19:00 IST
34,INDIA V SOUTH AFRICA 2022,T20I,"Saurashtra Cricket Association Stadium, Rajkot",17,JUNE,19:00 IST
35,INDIA V SOUTH AFRICA 2022,T20I,"Arun Jaitley Stadium, Delhi",19,JUNE,19:00 IST
36,ENGLAND V INDIA 2022,T20I,"Old Trafford, Manchester",01,JULY,23:00 IST
37,ENGLAND V INDIA 2022,T20I,"Trent Bridge, Nottingham",03,JULY,19:00 IST
38,ENGLAND V INDIA 2022,T20I,"The Ageas Bowl, Southampton",06,JULY,23:00 IST
39,ENGLAND V INDIA 2022,ODI,"Edgbaston, Birmingham",09,JULY,15:30 IST
40,ENGLAND V INDIA 2022,ODI,"The Oval, London",12,JULY,17:30 IST
41,ENGLAND V INDIA 2022,ODI,"Lord's, London",14,JULY,17:30 IST

Q3 - Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [75]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.guru99.com/")

In [76]:
#seraching for selenium exception handling 

search=driver.find_element_by_xpath("//input[@id='gsc-i-id1']")
search.send_keys("selenium exception handling")
ic=driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']")
ic.click()

In [77]:
#selenium exception handling page
url=[]
s=driver.find_element_by_xpath("//a[@class='gs-title']")
url.append(s.get_attribute("href"))
url

['https://www.guru99.com/exception-handling-selenium.html']

In [78]:
#get the page
for i in url:
    driver.get(i)

In [79]:
#scraping exception name and details 

name=[]
dets=[]
ex=driver.find_elements_by_xpath("//table[@class='table table-striped']//tr/td[1]")
for i in ex:
    name.append(i.text)
    
de=driver.find_elements_by_xpath("//table[@class='table table-striped']//tr/td[2]")
for j in de:
    dets.append(j.text)

In [80]:
#dataframe
data=list(zip(name,dets))
exception_handling=pd.DataFrame(data=data,columns=["Exception","Details"])
exception_handling

,Exception,Details
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Q4 - Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [81]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://statisticstimes.com/")

In [82]:
#clicking on economy 

e=driver.find_element_by_xpath("//div[@class='dropdown'][2]")
e.click()
india=driver.find_element_by_xpath("//div[@class='dropdown'][2]//a[3]")
india.click()

In [83]:
#selecting GDP of Indian states.

st=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]//a")
st.click()

In [99]:
#scraping state
state=[]
s=driver.find_elements_by_xpath("//tr[@role='row']//td[2]")
for i in s:
    state.append(i.text)
    
state=state[0:33]

#scraping GSDP 19-20
G19=[]
try:
    g19=driver.find_elements_by_xpath("//tr[@role='row']//td[3]")
    for j in g19:
        G19.append(j.text)
except:
    G19.append("--")
G19=G19[0:33]    
 
    
#scraping GSDP 18-19
G18=[]
try:
    g18=driver.find_elements_by_xpath("//tr[@role='row']//td[4]")
    for k in g18:
        G18.append(k.text)
except:
    G18.append("--")
G18=G18[0:33]    

    
#scraping shares
share=[]
try:
    sh=driver.find_elements_by_xpath("//tr[@role='row']//td[5]")
    for l in sh:
        share.append(l.text)
except:
    share.append("--")
    
share=share[:33]
    
    
#GDP in $
Gdol=[]
try:
    g=driver.find_elements_by_xpath("//tr[@role='row']//td[6]")
    for m in g:
        Gdol.append(m.text)
except:
    Gdol.append("--")
Gdol=Gdol[:33]

In [101]:
#dataframe
rank=list(range(1,34))
data=list(zip(rank,state,G19,G19,share,Gdol))
GDP=pd.DataFrame(data=data,columns=["Rank","State","GSDP 19-20","GSDP 18-19","Share","GDP in $billon"])
GDP

,Rank,State,GSDP 19-20,GSDP 18-19,Share,GDP in $billon
0,1,Maharashtra,-,-,13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,687,818",8.39%,240.726
3,4,Gujarat,-,-,7.96%,228.290
4,5,Karnataka,"1,631,977","1,631,977",7.91%,226.806
5,6,West Bengal,"1,253,832","1,253,832",5.77%,165.556
6,7,Rajasthan,"1,020,989","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"972,782","972,782",4.57%,131.083
8,9,Telangana,"969,604","969,604",4.56%,130.791
9,10,Madhya Pradesh,"906,672","906,672",4.29%,122.977
10,11,Kerala,-,-,4.14%,118.733
11,12,Delhi,"856,112","856,112",4.10%,117.703
12,13,Haryana,"831,610","831,610",3.89%,111.519
13,14,Bihar,"611,804","611,804",2.81%,80.562
14,15,Punjab,"574,760","574,760",2.79%,79.957
15,16,Odisha,"521,275","521,275",2.58%,74.098
16,17,Assam,-,-,1.67%,47.982
17,18,Chhattisgarh,"329,180","329,180",1.61%,46.187
18,19,Jharkhand,"328,598","328,598",1.57%,45.145
19,20,Uttarakhand,-,-,1.30%,37.351
20,21,Jammu & Kashmir,-,-,0.83%,23.690
21,22,Himachal Pradesh,"165,472","165,472",0.81%,23.369
22,23,Goa,"80,449","80,449",0.39%,11.115
23,24,Tripura,"55,984","55,984",0.26%,7.571
24,25,Chandigarh,-,-,0.22%,6.397
25,26,Puducherry,"38,253","38,253",0.18%,5.230
26,27,Meghalaya,"36,572","36,572",0.18%,5.086
27,28,Sikkim,"32,496","32,496",0.15%,4.363
28,29,Manipur,"31,790","31,790",0.15%,4.233
29,30,Nagaland,-,-,0.14%,4.144
30,31,Arunachal Pradesh,-,-,0.13%,3.737
31,32,Mizoram,"26,503","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q5 - Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [102]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://github.com/")

In [103]:
#click on explore
exp=driver.find_element_by_xpath("//a[@class='js-selected-navigation-item Header-link mt-md-n3 mb-md-n3 py-2 py-md-3 mr-0 mr-md-3 border-top border-md-top-0 border-white-fade'][3]")
exp.click()

In [104]:
#clicking on trending 
tr=driver.find_element_by_xpath("//a[@class='js-selected-navigation-item d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link'][2]")
tr.click()

In [106]:
#scraping url of repositories
url=[]
ur=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")
for i in ur:
    url.append(i.get_attribute("href"))

In [112]:
title=[]
des=[]
contr=[]
lang=[]

for i in url:
    driver.get(i)
    
    #scraping repositories title
    try:
        tit=driver.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']")
        title.append(tit.text)
    except:
        title.append("--")
        
    
    #scraping repositories description 
    try:
        de=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        des.append(de.text)
    except:
        des.append("--")
        
    
    #scraping contributors count
    try:
        cou=driver.find_element_by_xpath("//*[contains(text(), 'Contributors')]//span")
        contr.append(cou.text)
    except:
        contr.append("--")
        
    
    #scraping Language used
    try:
        la=driver.find_element_by_xpath("//li[@class='d-inline'][1]")
        lang.append(la.text)
    except:
        lang.append("--")

In [113]:
#dataframe
data=list(zip(title,des,contr,lang))
rep=pd.DataFrame(data=data,columns=["Repository tile","Repository Description","Contributors count","Language used"])
rep

,Repository tile,Repository Description,Contributors count,Language used
0,uptime-kuma,A fancy self-hosted monitoring tool,60,JavaScript\n66.0%
1,flipper,A desktop debugging platform for mobile develo...,219,TypeScript\n58.6%
2,genshin_auto_fish,基于深度强化学习的原神自动钓鱼AI,4,Python\n91.4%
3,flta-materials,The projects and the materials that accompany ...,8,Dart\n93.7%
4,Dummy-Robot,我的超迷你机械臂机器人项目。,--,--
5,devops-resources,"DevOps resources - Linux, Jenkins, AWS, SRE, P...",7,Groovy\n58.1%
6,algo,Set up a personal VPN in the cloud,156,Python\n45.3%
7,MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,10,JavaScript\n63.0%
8,go-zero,go-zero is a web and rpc framework written in ...,85,Go\n99.7%
9,Certipy,Python implementation for Active Directory cer...,--,Python\n100.0%
10,lotus,"Implementation of the Filecoin protocol, writt...",136,Go\n96.8%
11,weekly,科技爱好者周刊，每周五发布,26,--
12,webpack,A bundler for javascript and friends. Packs ma...,686,JavaScript\n99.8%
13,ant-design-pro,👨🏻‍💻👩🏻‍💻 Use Ant Design like a Pro!,275,TypeScript\n89.5%
14,clean-dns-bpf,基于 Rust + eBPF 丢弃 GFW DNS 污染包,--,Rust\n100.0%
15,json,JSON for Modern C++,207,C++\n97.7%
16,twentytwentytwo,"Twenty Twenty-Two, the default WordPress theme...",11,HTML\n77.8%
17,CVE-2021-41773,CVE-2021-41773 playground,--,Dockerfile\n90.8%
18,vant,Lightweight Mobile UI Components built on Vue,199,TypeScript\n58.0%
19,Awesome-Hacking,A collection of various awesome lists for hack...,21,--
20,designtodevelopment,This repository is all about converting design...,31,HTML\n51.3%
21,user.js,"Firefox privacy, security and anti-fingerprint...",18,JavaScript\n78.5%
22,Real-ESRGAN,Real-ESRGAN aims at developing Practical Algor...,4,Python\n100.0%
23,The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,58,Jupyter Notebook\n57.4%
24,vue-next,"🖖 Vue.js is a progressive, incrementally-adopt...",279,TypeScript\n97.1%

Q6- Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [5]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.billboard.com/")

In [6]:
#clicking on chart 
chart=driver.find_element_by_xpath("//div[2]/div[2]/header/div/ul/li[1]/a")
chart.click()

#clicking on hot 100
hot=driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']")
hot.click()

In [10]:
#scraping song name 
name=[]
so=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in so:
    name.append(i.text)
    

#scraping artist
artist=[]
at=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for j in at:
    artist.append(j.text)
    
    
#scraping last week rank
rank=[]
ra=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for k in ra:
    rank.append(k.text)
    
    

#scraping peak rank 
peak=[]
p=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for a in p:
    peak.append(a.text)
    
    

#scraping week on board
wob=[]
w=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for b in w:
    wob.append(b.text)

In [11]:
#dataframe 
data=list(zip(name,artist,rank,peak,wob))
billboard=pd.DataFrame(data=data,columns=["Song Name","Artist","Last week rank","Peak","Week on billboard"])
billboard

,Song Name,Artist,Last week rank,Peak,Week on billboard
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

Q7- Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [101]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.naukri.com/")

In [102]:
a=[]
from time import sleep
#clicking on recruiters
rec=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
a.append(rec.get_attribute("href"))
a

['https://www.naukri.com/recruiters']

In [103]:
for i in a:
    driver.get(i)

In [104]:
#web element of the search bar 
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data science")

In [105]:
#clicking on search button 
sb=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
sb.click()

In [106]:
name=[]
desg=[]
com=[]
skill=[]
loc=[]


while True:
#scraping name 
    try:
        n=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
        for i in n:
            name.append(i.text)
    except:
        name.append("--")
    
    
#scraping designation 
    try:
        de=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
        for j in de:
            desg.append(j.text)
    except:
        desg.append("--")
        
        
#scraping comapny 
    try:
        co=driver.find_elements_by_xpath("//a[@class='ellipsis'][2]")
        for k in co:
            com.append(k.text)
    except:
        com.append("--")
        
        
#scraping skills
    try:
        sk=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
        for a in sk:
            skill.append(a.text)
    except:
        skill.append("--")
        
        
#scraping location 
    try:
        lo=driver.find_elements_by_xpath("//small[@class='ellipsis']")
        for b in lo:
            loc.append(b.text)
            
    except:
        loc.append("--")
        
        
#clicking on the next button 
    try:
        nex=driver.find_element_by_xpath("//*[@class='grayBtn' and contains(text(),'Next')]")
        nex.click()
        
    except NoSuchElementException:
        break

In [107]:
#data frame 
data=list(zip(name,desg,com,skill,loc))
rec=pd.DataFrame(data=data,columns=["Name of the recruiter","Designation of recruiter","Company","Skills hiring for","Location"])
rec

,Name of the recruiter,Designation of recruiter,Company,Skills hiring for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
...,...,...,...,...,...
5909,Shaker,Human Resouces Professional,Macrosoft IT Consulting.,MNCs,Mumbai
5910,Suchi Agarwal,Lead Recruitments,Consultant,"Java, Dotnet, Ui Development, Automation, .Net...",Kolkata
5911,manoj gupta,Chief Executive,OMGI Placements,"Production, Manufacturing, Quality Control, Qu...",Hyderabad / Secunderabad
5912,Achut Kumar Gundappa,India Business and Center Head,ITSoli India Pvt. Ltd,Not Specified,Delhi
5913,Doksiri,Data Analyst,Adelement,Not Specified,Bengaluru / Bangalore

Q 8 - Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [65]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [66]:
name=[]
aut=[]
vol=[]
pub=[]
gen=[]

#scraping Book name 
bn=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tr//td[2]")
for i in bn:
    name.append(i.text)
    

#scraping author
au=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tr//td[2]")
for j in au:
    aut.append(j.text)
    
    
#scraping volumes sold
v=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tr//td[4]")
for k in v:
    vol.append(k.text)
    
    
#scraping publisher
p=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tr//td[5]")
for a in p:
    pub.append(a.text)
    
    
#scraping genre 
g=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tr//td[6]")
for b in g:
    gen.append(b.text)

In [69]:
#dataframe
data=list(zip(name,aut,vol,pub,gen))
book=pd.DataFrame(data=data,columns=["Book Name","Author","Volume sales","Publisher","Genre"])
book

,Book Name,Author,Volume sales,Publisher,Genre
0,"Da Vinci Code,The","Da Vinci Code,The","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,"4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,"4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,"4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,Fifty Shades of Grey,"3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Ghost,The","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,Happy Days with the Naked Chef,"794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Hunger Games,The:Hunger Games Trilogy","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Lost Boy,The:A Foster Child's Search for the L...","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,Jamie's Ministry of Food:Anyone Can Learn to C...,"791,095",Penguin,Food & Drink: General

Q9 - Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [70]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [71]:
name=[]
year=[]
gen=[]
run=[]
rating=[]
vote=[]

#scraping name
n=driver.find_elements_by_xpath("//h3[@class='lister-item-header']")
for i in n:
    name.append(i.text)
    
    
#scraping year span
y=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for j in y:
    year.append(j.text)
    
    
    
#scraping genre
ge=driver.find_elements_by_xpath("//span[@class='genre']")
for k in ge:
    gen.append(k.text)
    
    
#Scraping run time
rt=driver.find_elements_by_xpath("//span[@class='runtime']")
for a in rt:
    run.append(a.text)
    
    
    
#scraping rating 
rat=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]")
for t in rat:
    rating.append(t.text)
    
    

#scraping votes 
v=driver.find_elements_by_xpath("//span[@name='nv']")
for a in v:
    vote.append(a.text)

In [72]:
#data frame 
data=list(zip(name,year,gen,run,rating,vote))
tv=pd.DataFrame(data=data,columns=["TV show","Year span","Genre","Run Time","Rating","Votes"])
tv

,TV show,Year span,Genre,Run Time,Rating,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,882,220"
1,2. Stranger Things (2016– ),(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"915,624"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"904,072"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,874"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,269"
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),"Drama, Fantasy",42 min,7.5,"45,885"
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,757"
97,98. Criminal Minds (2005–2020),(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,264"
98,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,872"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"203,480"

Q10- Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [75]:
driver=webdriver.Chrome(r"C:\Users\Hp\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://archive.ics.uci.edu/ml/index.php")

In [77]:
url=[]
u=driver.find_elements_by_xpath("//span[@class='normal']//a[1]")[6:30]
for i in u:
    url.append(i.get_attribute("href"))
    
url

['https://archive.ics.uci.edu/ml/datasets/Synchronous+Machine+Data+Set',
 'https://archive.ics.uci.edu/ml/datasets/Wikipedia+Math+Essentials',
 'https://archive.ics.uci.edu/ml/datasets/Wikipedia+Math+Essentials',
 'https://archive.ics.uci.edu/ml/datasets/Hungarian+Chickenpox+Cases',
 'https://archive.ics.uci.edu/ml/datasets/Myocardial+infarction+complications',
 'https://archive.ics.uci.edu/ml/datasets/Gait+Classification',
 'https://archive.ics.uci.edu/ml/datasets/Codon+usage',
 'https://archive.ics.uci.edu/ml/datasets/in-vehicle+coupon+recommendation',
 'https://archive.ics.uci.edu/ml/datasets/Dry+Bean+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Intelligent+Media+Accelerometer+and+Gyroscope+%28IM-AccGyro%29+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/AI4I+2020+Predictive+Maintenance+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Wisesight+Sentiment+Corpus',
 'https://archive.ics.uci.edu/ml/datasets/Iris',
 'https://archive.ics.uci.edu/ml/datasets/Adult',
 'https://archive.ics.uci.edu/ml/datasets/Wine',
 'https://archive.ics.uci.edu/ml/datasets/Wine+Quality',
 'https://archive.ics.uci.edu/ml/datasets/Heart+Disease',
 'https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29',
 'https://archive.ics.uci.edu/ml/datasets/Bank+Marketing',
 'https://archive.ics.uci.edu/ml/datasets/Car+Evaluation',
 'https://archive.ics.uci.edu/ml/datasets/Human+Activity+Recognition+Using+Smartphones',
 'https://archive.ics.uci.edu/ml/datasets/Abalone',
 'https://archive.ics.uci.edu/ml/datasets/Forest+Fires',
 'https://archive.ics.uci.edu/ml/datasets/Student+Performance']

In [81]:
name=[]
datatype=[]
task=[]
attritype=[]
inst=[]
attri_no=[]
year=[]


for i in url:
    driver.get(i)
    
    #scraping the name of the dataset
    try:
        n=driver.find_element_by_xpath("//span[@class='heading']//b")
        name.append(n.text)
    except:
        name.append("--")
    
    
    
    #scraping data type
    try:
        dt=driver.find_elements_by_xpath("//tbody//td[2]//p")[0]
        datatype.append(dt.text)
    except:
        datatype.append("--")
    
    
    
    #scraping task
    try:
        t=driver.find_elements_by_xpath("//tbody//td[2]//p")[2]
        task.append(t.text)
    except:
        task.append("--")
        
        
    
    #scraping attribute type
    try:
        at=driver.find_elements_by_xpath("//tbody//td[2]//p")[1]
        attritype.append(at.text)
    except:
        attritype.append("--")
        
        
    
    #scraping number of instances 
    try:
        ni=driver.find_elements_by_xpath("//tbody//td[4]//p")[0]
        inst.append(ni.text)
    except:
        inst.append("--")
        
        
        
    #scraping number of attributes 
    try:
        nat=driver.find_elements_by_xpath("//tbody//td[4]//p")[1]
        attri_no.append(nat.text)
    except:
        attri_no.append("--")
        
        
    #scraping the year
    try:
        y=driver.find_elements_by_xpath("//tbody//td[6]//p")[1]
        year.append(y.text)
    except:
        year.append("--")

In [82]:
#datatype
data=list(zip(name,datatype,task,attritype,inst,attri_no,year))
rep=pd.DataFrame(data=data,columns=["Data set","Data type","Task","Attribute type","No.of instance","no.of attribute","Year"])
rep

,Data set,Data type,Task,Attribute type,No.of instance,no.of attribute,Year
0,Synchronous Machine Data Set Data Set,Multivariate,Regression,Real,557,5,2021-04-21
1,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20
2,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20
3,Hungarian Chickenpox Cases Data Set,Time-Series,Regression,Real,521,20,2021-02-17
4,Myocardial infarction complications Data Set,Multivariate,Classification,Real,1700,124,2020-12-09
5,Gait Classification Data Set,Multivariate,Classification,Real,48,321,2020-10-14
6,Codon usage Data Set,Multivariate,"Classification, Clustering",N/A,13028,69,2020-10-03
7,in-vehicle coupon recommendation Data Set,Multivariate,Classification,N/A,12684,23,2020-09-15
8,Dry Bean Dataset Data Set,Multivariate,Classification,"Integer, Real",13611,17,2020-09-14
9,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020-09-03
10,AI4I 2020 Predictive Maintenance Dataset Data Set,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020-08-30
11,Wisesight Sentiment Corpus Data Set,"Multivariate, Text",Classification,N/A,26737,4,2020-08-25
12,Iris Data Set,Multivariate,Classification,Real,150,4,1988-07-01
13,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
14,Wine Data Set,Multivariate,Classification,"Integer, Real",178,13,1991-07-01
15,Wine Quality Data Set,Multivariate,"Classification, Regression",Real,4898,12,2009-10-07
16,Heart Disease Data Set,Multivariate,Classification,"Categorical, Integer, Real",303,75,1988-07-01
17,Breast Cancer Wisconsin (Diagnostic) Data Set,Multivariate,Classification,Real,569,32,1995-11-01
18,Bank Marketing Data Set,Multivariate,Classification,Real,45211,17,2012-02-14
19,Car Evaluation Data Set,Multivariate,Classification,Categorical,1728,6,1997-06-01
20,Human Activity Recognition Using Smartphones D...,"Multivariate, Time-Series","Classification, Clustering",N/A,10299,561,2012-12-10
21,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
22,Forest Fires Data Set,Multivariate,Regression,Real,517,13,2008-02-29
23,Student Performance Data Set,Multivariate,"Classification, Regression",Integer,649,33,2014-11-27